.containerLogo {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 30px 10px;
  height: 20vh;
  background-color: yellow;
}

.logo1 {
  max-width: 750px;
  width: 100%;
  box-shadow: 0 0 20px 15px Crinsom;
  margin: auto;
}

@media (min-width: 768px) {
  .containerLogo {
    height: 30vh;
  }
}

@media (min-width: 1024px) {
  .containerLogo {
    height: 29vh;
    padding: 15px 10px;
  }
}
