.containerLogo {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 30vh;
}

.logo1 {
  max-width: 750px;
  width: 100%;
  box-shadow: 0 0 20px 15px Crinsom;
  margin: 0 auto;
  
  
}
