.resumeContainerGral {
  text-align: center;
  padding: 18vh 0;
  display: block;
  justify-content: flex-start;
  align-items: center;
  height: auto;
}
.resumeContainerGralParagraph {
  padding: 0 20px;
}

.resumeContainerBox {
  width: 300px;
  text-align: center;
  box-shadow: 1px 10px 25px black;
  padding: 20px;
  margin: auto;
  background: var(--purpleGradient2);
}

.resumeContainerbtnSee {
  border-radius: 50px;
  padding: 0.5rem 4rem;
  background-color: var(--lightBlue);
  border: none;
  cursor: pointer;
  color: var(--black);
  text-decoration: underline;
  font-size: 0.6rem;
}

.resumeContainer2 {
  width: 90%;
  text-align: center;

  padding: 20px;
  box-shadow: 1px 10px 25px black;
  margin: auto;
  background: rgba(0, 0, 0, 1);
  color: var(--white);
}

.resumeContainer2Box {
  height: auto;
  padding: 10px;
}

.resumeContainer2Img {
  display: block;
  width: 90%;
  height: auto;
  object-fit: cover;
  margin: auto;
  margin-bottom: 50px;
}

.resumeContainer2Buttons {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.resumeContainer2btnBack,
.resumeContainer2btnDownload {
  border-radius: 50px;
  padding: 0.5rem 5rem;
  background-color: var(--lightBlue);
  border: none;
  cursor: pointer;
  color: var(--white);
  text-decoration: underline;
  font-size: 0.6rem;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .resumeContainerGral {
    padding: 11vh 0;
  }
  .resumeContainer2Buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .resumeContainerbtnSee,
  .resumeContainer2btnBack,
  .resumeContainer2btnDownload {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .resumeContainerGral {
    padding: 9vh 0;
  }
  .resumeContainerBox {
    width: 320px;
  }

  .resumeContainerbtnSee,
  .resumeContainer2btnBack,
  .resumeContainer2btnDownload {
    font-size: 1rem;
  }
  .resumeContainer2 {
    width: 50%;
  }
}
