.redesContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 50px 0;
  height: 15vh;
}

.redesContainer img {
  width: 35px;
}

@media (min-width: 768px) {
  .redesContainer {
    padding: 0;
    height: 14vh;
  }
}

@media (min-width: 1024px) {
  .redesContainer {
    padding: 0;
    height: 9vh;
  }
}
