@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*
font-family: 'Roboto', sans-serif;
font-family: 'Fredoka One', cursive;
font-family: 'Andika New Basic', sans-serif;

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  --black: #060606;
  --white: #ffffff;
  --purpleGradient: linear-gradient(to right bottom, rgba(128,0,128,.25), rgba(80,125,188,.25));
  --purpleGradient2: linear-gradient(to right bottom, rgba(80,128,188,.5), rgba(128,0,128,.5));
  --purple: #800080;
  --blue: #507DBC;
  --transparent: rgba(39, 31, 31, 0);

}


body, html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow-x: hidden;
  }



