.aboutIndex {
  width: 100vw;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutIndexTitle {
  text-align: center;
  padding: 10px 35px;
}

.aboutIndexParagraph {
  text-align: center;
  font-size: 0.8rem;
  width: 90vw;
}

@media (min-width: 768px) {
  .aboutIndex {
    height: 35vh;
  }

  .aboutIndexParagraph {
    font-size: 1rem;
  }
}

@media (min-width: 1280px) {
  .aboutIndex {
    height: 28vh;

  }
}

@media (min-width: 1440px) {
  .aboutIndexTitle {
    font-size: 2.5rem;

  }
  .aboutIndexParagraph {
    font-size: 1.5rem;
  }
}




