.cardsProjectsContainerTitle {
  text-align: center;
  padding: 20px;
  font-family: "Fredoka One", cursive;
  font-size: 2rem;
}

.cardsProjectsContainer {
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  padding: 20px;
  gap: 50px;
}
.loadMoreButton {
  border-radius: 50px;
  padding: 0.5rem 5rem;
  background-color: var(--lightBlue);
  border: none;
  cursor: pointer;
  color: var(--black);
  text-decoration: underline;
  font-size: 0.6rem;
}

@media (min-width: 768px) {
  .cardsProjectsContainerTitle {
    font-size: 3rem;
    padding: 40px 0 0 0;
  }
  .loadMoreButton {
    font-size: 0.8rem;
  }
}

@media (min-width: 1024px) {
  .loadMoreButton {
    font-size: 1.5rem;
    padding: 0.5rem 5rem;
  }
  .cardsProjectsContainer {
    gap: 80px;
    height: 100%;
    padding: 0;
  }
}


@media (min-width: 1440px) {
  .cardsProjectsContainer {
    gap: 80px;
    height: 48vh;
    padding: 0;
  }
}

